.container {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
  font-family: Montserrat, sans-serif;
  margin: 0.2rem auto;
  color: #fee7e8;
  padding: 0.5rem 1rem;
  text-align: center;
  gap: 1rem;
  border-radius: 0.1rem;
  cursor: pointer;

  @media (max-width: 575.98px) {
    width: 100%;
  }

  h4 {
    border-left: 1px solid #fee7e8;
    width: 21rem;
    max-width: 21rem;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    text-overflow: clip;
    padding: 0 0.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}
