.body {
  width: 100%;

  .ideaData {
    width: 100%;
    display: flex;

    @media (max-width: 991.98px) {
      flex-direction: column;
    }

    .ideaInfo {
      flex: 2;
      border: 0.5px solid #303030;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .ideaDetails {
        display: flex;
        justify-content: space-between;

        @media (max-width: 659.98px) {
          flex-direction: column;
          gap: 1rem;
        }

        .details {
          width: 30rem;
          height: 10rem;
          display: flex;
          gap: 3rem;
          justify-content: flex-start;
          font-family: Rubik, sans-serif;

          @media (max-width: 575.98px) {
            width: 100%;
            flex-direction: column;
            height: fit-content;
            align-items: center;
          }

          img {
            width: 10rem;
            height: 10rem;
            border-radius: 0.3rem;
          }

          div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 575.98px) {
              text-align: center;
            }

            h5 {
              margin-bottom: 1rem;
              @media (max-width: 575.98px) {
                margin: 1rem 0;
              }
            }

            p {
              font-size: 0.9rem;
              text-align: justify;
              margin-bottom: 1.5rem;

              @media (max-width: 575.98px) {
                text-align: center;
              }
            }
          }
        }

        .options {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          font-family: Montserrat, sans-serif;

          @media (max-width: 659.98px) {
            align-items: flex-start;
          }

          @media (max-width: 575.98px) {
            align-items: center;
          }

          a {
            text-decoration: none;
            button {
              width: 8rem;
              border: none;
              outline: none;
              border-radius: 0.4rem;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              padding: 0.5rem 1rem;
              background-color: #cd0404;
              cursor: pointer;

              img {
                width: 1rem;
                height: 1rem;
              }
            }
          }

          button {
            width: 8rem;
            border: none;
            outline: none;
            border-radius: 0.4rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            background-color: #52047b;
            cursor: pointer;

            img {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }

      .ideaFeedback {
        width: 70%;
        display: flex;
        justify-content: space-between;
        border: 0.5px solid #303030;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;

        @media (max-width: 575.98px) {
          width: 100%;
        }

        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-family: Rubik, sans-serif;

          .icon {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;

            &.likeIdea {
              cursor: pointer;
            }
          }
        }
      }

      .ideaLabels {
        width: 70%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        border: 0.5px solid #303030;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        max-height: 12rem;
        overflow: hidden;
        overflow-y: scroll;

        @media (max-width: 575.98px) {
          width: 100%;
          grid-template-columns: auto;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          color: black;
          font-family: Montserrat, sans-serif;
          background-color: #fb9da2;
          padding: 0.5rem 1rem;
          border-radius: 0.3rem;
        }
      }
    }

    .userInfo {
      flex: 1;
      border: 0.5px solid #303030;

      @media (max-width: 991.98px) {
        display: flex;
      }

      @media (max-width: 709.98px) {
        display: block;
      }

      .userDetails {
        border-bottom: 0.5px solid #303030;
        padding: 0.5rem 1rem 1.5rem 1rem;

        @media (max-width: 991.98px) {
          flex: 1;
        }

        h2 {
          font-family: Rubik, sans-serif;
          margin-bottom: 1rem;
        }
      }

      .supportIdea {
        padding: 0.5rem 1rem;

        @media (max-width: 991.98px) {
          flex: 1;
        }

        h2 {
          font-family: Rubik, sans-serif;
        }

        p {
          margin: 1rem 0;
          font-family: Montserrat, sans-serif;
        }

        div {
          width: 100%;
          display: flex;
          align-items: center;
          border: 1px solid gray;
          border-radius: 0.2rem;

          input {
            flex: 9;
            height: 2rem;
            padding: 0.2rem 1rem;
            border: none;
            outline: none;

            &:focus {
              border: none;
              outline: none;
            }
          }

          button {
            flex: 1;
            background-color: #52047b;
            border: none;
            outline: none;
            padding: 0.2rem 1rem;
            cursor: pointer;

            img {
              width: 1.5rem;
              height: 1.5rm;
            }
          }
        }
      }
    }
  }

  .ideDescription {
    width: 100%;
    border: 1px solid #303030;

    .ideaDesc {
      border-bottom: 2px solid #303030;
      padding: 0.5rem 1rem;

      h2 {
        font-family: Rubik, sans-serif;
      }

      p {
        width: 100%;
        max-height: 20rem;
        overflow: hidden;
        overflow-y: scroll;
        font-family: Montserrat, sans-serif;
        border: 1px solid #303030;
        border-radius: 0.3rem;
        padding: 1rem 1.5rem;
        margin: 1rem 0;
        text-align: justify;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .uploadedFiles {
      padding: 0.5rem 1rem;

      h2 {
        font-family: Rubik, sans-serif;
      }

      .noFile {
        text-align: center;
        font-family: Verdana, sans-serif;
        color: red;
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem 0 2rem 0;
      }

      .uploadedFilesList {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-gap: 1rem;
        margin: 1rem auto;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-auto-flow: column;
        grid-auto-columns: minmax(20rem, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        grid-template-rows: auto;
        border: 1px solid #303030;
        padding: 1rem;
        border-radius: 0.3rem;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .comments {
    width: 100%;
    border: 1px solid #303030;

    h2 {
      font-family: Rubik, sans-serif;
      margin: 0.5rem 1rem;
    }

    .commentsList {
      width: 97%;
      max-width: 97%;
      height: 30rem;
      display: grid;
      grid-gap: 2rem;
      margin: 1rem auto;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(20rem, 1fr);
      overflow: hidden;
      overflow-x: scroll;
      grid-template-rows: auto auto auto;
      border: 1px solid #303030;
      padding: 1rem 2rem;
      border-radius: 0.3rem;

      @media (max-width: 575.98px) {
        width: 25rem;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-auto-columns: auto;
        grid-auto-flow: row;
        overflow: hidden;
        overflow-y: scroll;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .ideaSupport {
    width: 100%;
    border: 1px solid #303030;

    h2 {
      font-family: Rubik, sans-serif;
      margin: 0.5rem 1rem;
    }

    .support {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin: 1rem;

      @media (max-width: 575.98px) {
        flex-direction: column;
        gap: 1rem;
      }

      input {
        flex: 8;
        border: 1px solid #303030;
        outline: none;
        padding: 0.5rem 1rem;
        height: 3.5rem;
        border-radius: 0.3rem;

        @media (max-width: 575.98px) {
          flex: auto;
          width: 100%;
        }

        &:focus {
          border: 1px solid #303030;
          outline: none;
        }
      }

      button {
        flex: 1;
        border: none;
        outline: none;
        border-radius: 0.3rem;
        background-color: #52047b;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 3.5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        padding: 0.5rem 1rem;

        @media (max-width: 575.98px) {
          flex: auto;
          width: 100%;
        }

        &:hover {
          background-color: #8306c6;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

@font-face {
  font-family: Rubik;
  src: url("../../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}
